* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #daedf9;
    font-family: 'Playfair Display', serif;
    overflow: hidden;
}
.login {
    position: absolute;
     top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 11;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.login-button {
    background-color: black;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}
.login-button:hover{
    background-color: #fff;
    color: black;
}
.popup-form {
    z-index: 111;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
    display: none;
    justify-content: center;
    /* align-items: center; */
}
#slt, #sl {
    display: none;
    position: relative;
    color: #fceae8;
    font-size: 15px;
    background-color: #e74c3c;
    justify-content: center;
    margin: -20px 0 3px 0;
    padding: 4px;
    letter-spacing: 2px;
}
#slt::before, #sl::before{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background-color:  #e74c3c;
    right: 8px;
    top: -7px;
    transform: rotate(45deg);
}

#fn, #ln {
    display: none;
    position: relative;
    color: #fceae8;
    font-size: 12px;
    background-color: #e74c3c;
    justify-content: center;
    margin: -20px 0 3px 0;
    padding: 2px;
    width: 70%;
    letter-spacing: 2px;
    left: 20%;
}
#fn::before, #ln::before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    background-color: #e74c3c;
    right: 5px;
    top: -5px;
    transform: rotate(45deg);
}
#em, #mob{
    display: none;
    position: relative;
    color: #fceae8;
    font-size: 15px;
    background-color: #e74c3c;
    justify-content: center;
    margin: -13px 0 0px 0;
    padding: 4px;
    letter-spacing: 2px;
    width: 90%;
    left: 6%;
}
#em::before, #mob::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background-color:  #e74c3c;
    right: 8px;
    top: -7px;
    transform: rotate(45deg);
}
#ch{
    display: none;
    position: relative;
    color: #fceae8;
    font-size: 15px;
    background-color: #e74c3c;
    justify-content: center;
    margin: -13px 0 0px 0;
    padding: 4px;
    letter-spacing: 2px;
    width: 90%;
    left: 1%;
    top: 20px;
}
#ch::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background-color:  #e74c3c;
    right: 95%;
    top: -6px;
    transform: rotate(45deg);
}

/* icons */

.icons {
    position: relative;
    top: -36px;
    width: 26px;
    left: 93%;
}
.icons1 {
    position: relative;
    top: -30px;
    width: 26px;
    left: 78%;
}
.icons2 {
    position: relative;
    top: -29px;
    width: 26px;
    left: 89%;
}
.icon1, .t-icon1 {
    background-color: red;
    padding: 4px 10px;
    font-size: 15px;
    border-radius: 50%;
    display: none;
}
.icon2, .t-icon2 {
    background-color: #00ff00;
    padding: 5px;
    font-size: 14px;
    border-radius: 50%;
    display: none;
}
.f-icon1, .l-icon1{
    background-color: red;
    padding: 4px 10px;
    font-size: 10px;
    border-radius: 50%;
    display: none;  
}
.f-icon2, .l-icon2 {
    background-color: #00ff00;
    padding: 4px 7px;
    width: 90%;
    font-size: 9px;
    border-radius: 50%;
    display: none;
}
.em-icon1, .mob-icon1{
    background-color: red;
    padding: 4px 10px;
    font-size: 10px;
    border-radius: 50%;
    display: none;  
}
.em-icon2, .mob-icon2 {
    background-color: #00ff00;
    padding: 3px 7px;
    width: 90%;
    font-size: 9px;
    border-radius: 50%;
    display: none;
}


.p-container {
    height: 90%;
    width: 95%;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    /* text-align: center; */
}
.p-content h3, .p-content p, .p-content h1, .l1{
    text-align: center;
}
.p-content h1{
    font-size: 30px;
    margin-bottom: 10px;
}

.p-content p{
    margin-bottom: 10px;
}

.p-content {
    margin-top: 100px;
    width: 35%;
    margin: 8% auto;
}
.sh {
    font-size: 13px;
    color: rgba(0,0,0,0.7);
    font-weight: 600;
}

.level {
    padding: 5px 10px;
    display: inline;
    background-color:#fff;
    color: #000;
    border-radius: 20px;
    border:1px solid #ccc;
    margin: 9px;
    font-size: 10px;
}
div#step-1 .l1 p:first-child {
    background-color:#4a4667;
    color: #fff;
}
div#step-2 .l1 p {
    background-color:#4a4667;
    color: #fff;
}
div#step-3 .l1 .level {
    background-color:#4a4667;
    color: #fff;
}

i.fa.fa-check.level {
    font-size: 10px;
    padding: 6px;
}
.f1{
    text-align: left;
    width: 93%;
    margin: 0 auto;
}

.popup-select {
    width: 100%;
    padding: 8px 10px;
    margin: 7px 0px;
    outline: none;
    background-color: #e0dddd;
    border-radius: 3px;
}

.txta {
    margin: 20px 0px 5px 0px;
    width: 100%;
    outline: none;
    padding: 10px 20px;
    background-color: #e0dddd;
    border-radius: 3px;
}

.btn {
    padding: 10px 15px;
    border-radius: 20px;
    outline: none;
    text-align: center;
    display: block;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 14px;
    cursor: pointer;
    margin-left: 19%;
}
.message {
    display: flex;
    margin-left: 62px;
}

.message.p2 {
    margin-left: 30px !important;
    margin-top: 30px;
}

.close {
    position: absolute;
    top: 20px;
    left: 89%;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 111;
}

/* PAGE-2 */
#step-2{display: none;}
.page2 {
    margin-top: 20px;
    width: 100%;
    float: left;
}
.page2:last-child {
    margin-top: 0px;
}

.page2-lb {
    margin-left: 14px;
    font-size: 12px;
    font-weight: 600;
}
.page2-int {
    padding: 10px;
    font-size: 10px;
    margin: 5px 10px;
    outline: none;
    background-color: #e0dddd;
    border: none;
    border-radius: 5px;
    width: 90%;
}
.page2-inte {
    padding: 10px;
    width: 95%;
    margin: 5px 10px;
    font-size: 10px;
    outline: none;
    background-color: #e0dddd;
    border: none;
    border-radius: 5px;
}
.page2-fl {
    width: 50%;
    float: left;
}
.page2-cb{
    margin: 10px;
    margin-bottom: 0px;
}
.page2-c {
    display: flex;
    font-size: 10px;
    margin-top: 5px;
}
.page2-p {
    text-align: left !important;
    padding-top: 10px;
}
.bt {
    border: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

/* PAGE-3 */
#step-3{display: none;}

/* .l1 .level {
    background-color: black;
    color: white;
} */

i.fa.fa-check.l2 {
    padding: 40px;
    background-color: #4a4667;
    color: white;
    border-radius: 50px;
}
.page3-c {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}


/*css media queries*/
@media screen and (max-width:767px){
    .p-content{
        width: 90%;
    }
    .p-content h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .sh{
        font-size: 10px;
    }
    .l1{
        margin-bottom: 20px;
    }
    .btn{
        margin-left: 27%;
    }
    .popup-select{
        margin: 15px 0px;
    }
    .close{
        top: 10px;
        left: 82%;
    }
    .page2 {
        margin-top: 20px;
    }
    .page2-int {
        width: 90%;
    }

    .page2-inte{
        width: 93%;
    }
    .page2-p{
        font-size: 9px;
        margin-bottom: 30px !important;
    }
    .message{
        margin-top: 5px;
        margin-left: 16px;
    }
    .message.p2 {
        margin-left: 20px !important;
    }
    .bt{
        top: 75%;
        left: 11%;
    }
    .p2{
        margin-left: 40px;
    }
}